@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Bold.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-ExtraLight.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-ExtraLightItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-MediumItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Medium.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Light.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-LightItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Italic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-SemiBold.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Thin.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./../../assets/font/josefin/JosefinSans-Regular.woff2') format('woff2'),
        url('./../../assets/font/josefin/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



// miniver font
@font-face {
    font-family: 'Miniver';
    src: url('./../../assets/font/miniver/') format('woff2'),
        url('./../../assets/font/miniver/Miniver.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

