.pageHeading{
    & .seuHeading{
        font-size: 18px;
        line-height: 26px;
        color: $theme1;
        font-weight: 300;
        font-family: 'Miniver', cursive;
    }
    & .heading{
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: $theme2;
        font-family: 'Josefin Sans';
    }
}

// Small devices (landscape phones, 576px and up)
@mixin pageHeading-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin pageHeading-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin pageHeading-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin pageHeading-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin pageHeading-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin pageHeading-mixin-max-xl() {
    .pageHeading{
        & .seuHeading{
       
        }
        & .heading{
        
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin pageHeading-mixin-max-lg() {
    .pageHeading{
        & .seuHeading{
       
        }
        & .heading{
        
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin pageHeading-mixin-max-md() {
    .pageHeading{
        & .seuHeading{
       
        }
        & .heading{
            font-size: 40px;
            line-height: 48px;
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin pageHeading-mixin-max-sm() {
    .pageHeading{
        & .seuHeading{
            font-size: 16px;
            line-height: 24px;
        }
        & .heading{
            font-size: 37px;
            line-height: 44px;
        }
    }
    
}
// X-Small devices (portrait phones, less than 576px)
@mixin pageHeading-mixin-max-xs() {
    .pageHeading{
        & .seuHeading{
       font-size: 14px;
       line-height: 22px;
        }
        & .heading{
            font-size: 26px;
            line-height: 35px;
        }
    }
}
