header{
    & .topHeader{
   
        & .headerContact{
            & ul{
                & li{
                    & a{
                        font-size: 16px;
                        font-weight: 300;
                        color: $theme2;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            color: $theme1;
                        }
                    }
                }
            }
        }
        & .socialIcon{
            & ul{
                & li{
                    & a{
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        &::after{
                            position: absolute;
                            content: "";
                            width: 35px;
                            height: 35px;
                            border: 2px dotted $theme2;
                            border-radius: 50%;
                            animation: rotate 15s linear infinite;
                            transition: .3s ease-in-out;
                            opacity: 1;
                        }
                        &:hover{
                            transform: scale(0.9);
                        }
                    }
                }
            }
            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }
    
                25% {
                    transform: rotate(90deg);
                }
    
                50% {
                    transform: rotate(180deg);
                }
    
                75% {
                    transform: rotate(270deg);
                }
    
                100% {
                    transform: rotate(360deg);
                }
    
            }
        }
    }
    & .bottomHeader{
        min-height: 60px;
        & .navbar{
            min-height: 55px;
            & .logo{
                height: 50px;
                width: 203px;
            }
            & .navOffcanvas{
                & .offcanvas-header{

                }
                & .offcanvas-body{
                    & .navbar-nav {
                        & .nav-item{
                            transition: all 0.3s ease-in-out;
                            & ul{
                                transition: all 0.3s ease-in-out;
                                visibility: hidden;
                                & li{
                                    & a{
                                        color: $theme2;
                                        font-size: 14px;
                                        line-height: 22px;
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        transition: all 0.3s ease-in-out;
                                        &::before{
                                            position: absolute;
                                            content: '';
                                            left:0;
                                            background-image: url(../img/Navbar/Star.svg);
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center;
                                            width: 14px;
                                            height: 14px;
                                            display: flex;
                                            align-items: center;
                                            opacity: 0;
                                            transition: all 0.3s ease-in-out;
                                        }
                                        &:hover{
                                            padding-left: 17px;
                                            color: $theme1;
                                            &::before{
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover{
                                & ul{
                                    opacity: 1 !important;
                                    visibility: visible;
                                    z-index: 11111;
                                }
                            }
                            & .nav-link{
                                font-size: 16px;
                                color: $theme2;
                                line-height: 24px;
                                transition: all 0.3s ease-in-out;
                                position: relative;
                                &:hover{
                                    color: $theme1;
                                    &::after{
                                        width: 100%;
                                    }
                                }
                                &::after{
                                    position: absolute;
                                    content: '';
                                    background-color: $theme1;
                                    width: 0;
                                    height: 2px;
                                    left: 0;
                                    bottom: 0;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                }
             
            }
            & .icon{
                width: 24px;
                height: 24px;
            }
        }
        & .search-form{
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s;
            position: absolute;
            width: 350px;
            height: 80px;
            border: 1px solid $theme1;
            right: 23%;
            margin-top: 6px;
            padding: 15px;
            background-color: rgba($black, 0.9);
            & input{
                // width: 100%;
                // height: 100%;
                border: 1px solid $white;
                &::placeholder{
                    font-size: 14px;
                    color: $white;
                  
                }
                & .icon{
                    width: 45px;
                    height: 49px;
                }
                
            }
            &.active{
                visibility: visible;
                opacity: 1;
            }

        }
    }

}
.fixed-navbar {
    position: fixed;
    top: 0;
    animation-name: fixedd;
    animation-duration: 1s;
    width: 100%;
    background-color: $black;
}
@keyframes fixedd {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin header-mixin-min-sm() {}
// Medium devices (tablets, 768px and up)
@mixin header-mixin-min-md() {}
// Large devices (desktops, 992px and up)
@mixin header-mixin-min-lg() {}
// X-Large devices (large desktops, 1200px and up)
@mixin header-mixin-min-xl() {}
// XX-Large devices (larger desktops, 1400px and up)
@mixin header-mixin-min-xxl() {}

// X-Large devices (large desktops, less than 1400px)
@mixin header-mixin-max-xl() {
    header{
        & .topHeader{
       
            & .headerContact{
                & ul{
                    & li{
                        & a{
                      
                            &:hover{
                            
                            }
                        }
                    }
                }
            }
            & .socialIcon{
                & ul{
                    & li{
                        & a{
                   
                            &::after{
                           
                            }
                            &:hover{
                               
                            }
                        }
                    }
                }
              
            }
        }
        & .bottomHeader{
     
            & .navbar{
                & .logo{
             
                }
                & .navOffcanvas{
                    & .offcanvas-header{
    
                    }
                    & .offcanvas-body{
                        & .navbar-nav {
                            & .nav-item{
                       
                                & ul{
                               
                                    & li{
                                        & a{
                                            &::before{
                                                
                                            }
                                            &:hover{
                                           
                                            
                                                &::before{
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    & ul{
                                   
                                    }
                                }
                                & .nav-link{
                                   
                                    &:hover{
                                    
                                        &::after{
                                           
                                        }
                                    }
                                    &::after{
                             
                                    }
                                }
                            }
                        }
                    }
                    & .icon{
                    
                    }
                }
            }
        }
    }
}
// Large devices (desktops, less than 1200px)
@mixin header-mixin-max-lg() {
    header{
        & .topHeader{
       
            & .headerContact{
                & ul{
                    & li{
                        & a{
                      
                            &:hover{
                            
                            }
                        }
                    }
                }
            }
            & .socialIcon{
                & ul{
                    & li{
                        & a{
                   
                            &::after{
                           
                            }
                            &:hover{
                               
                            }
                        }
                    }
                }
              
            }
        }
        & .bottomHeader{
     
            & .navbar{
                & .logo{
             
                }
                & .navOffcanvas{
                    & .offcanvas-header{
    
                    }
                    & .offcanvas-body{
                        & .navbar-nav {
                            & .nav-item{
                       
                                & ul{
                               
                                    & li{
                                        & a{
                                            &::before{
                                                
                                            }
                                            &:hover{
                                           
                                            
                                                &::before{
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    & ul{
                                   
                                    }
                                }
                                & .nav-link{
                                   
                                    &:hover{
                                    
                                        &::after{
                                           
                                        }
                                    }
                                    &::after{
                             
                                    }
                                }
                            }
                        }
                    }
                    & .icon{
                    
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@mixin header-mixin-max-md() {
    header{
        & .topHeader{
       
            & .headerContact{
                & ul{
                    & li{
                        & a{
                      
                            &:hover{
                            
                            }
                        }
                    }
                }
            }
            & .socialIcon{
                & ul{
                    & li{
                        & a{
                   
                            &::after{
                           
                            }
                            &:hover{
                               
                            }
                        }
                    }
                }
              
            }
        }
        & .bottomHeader{
     
            & .navbar{
                & .logo{
                    height: 37px;
                    width: 148px;
                }
                & .navOffcanvas{
                    width: 280px;
                    background-color: rgba($black ,0.9) !important;
                    & .offcanvas-header{
    
                    }
                    & .offcanvas-body{
                        & .navbar-nav {
                            & .nav-item{
                       
                                & ul{
                               
                                    & li{
                                        & a{
                                            &::before{
                                                
                                            }
                                            &:hover{
                                           
                                            
                                                &::before{
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    & ul{
                                   
                                    }
                                }
                                & .nav-link{
                                   
                                    &:hover{
                                    
                                        &::after{
                                           
                                        }
                                    }
                                    &::after{
                             
                                    }
                                }
                            }
                        }
                    }
                    & .icon{
                    
                    }
                }
            }
        }
    }
}
// Small devices (landscape phones, less than 768px)
@mixin header-mixin-max-sm() {
    header{
        & .topHeader{
       
            & .headerContact{
                & ul{
                    & li{
                        & a{
                      
                            &:hover{
                            
                            }
                        }
                    }
                }
            }
            & .socialIcon{
                & ul{
                    & li{
                        & a{
                   
                            &::after{
                           
                            }
                            &:hover{
                               
                            }
                        }
                    }
                }
              
            }
        }
        & .bottomHeader{
            min-height: 55px;
            & .navbar{
                & .logo{
             
                }
                & .navOffcanvas{
                    & .offcanvas-header{
    
                    }
                    & .offcanvas-body{
                        & .navbar-nav {
                            & .nav-item{
                       
                                & ul{
                               
                                    & li{
                                        & a{
                                            font-size: 14px;
                                            line-height: 22px;

                                            &::before{
                                                
                                            }
                                            &:hover{
                                           
                                            
                                                &::before{
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    & ul{
                                   
                                    }
                                }
                                & .nav-link{
                                   
                                    &:hover{
                                    
                                        &::after{
                                           
                                        }
                                    }
                                    &::after{
                             
                                    }
                                }
                            }
                        }
                    }
                    & .icon{
                    
                    }
                }
            }
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
@mixin header-mixin-max-xs() {
    header{
        & .topHeader{
       
            & .headerContact{
                & ul{
                    & li{
                        & a{
                      
                            &:hover{
                            
                            }
                        }
                    }
                }
            }
            & .socialIcon{
                & ul{
                    & li{
                        & a{
                   
                            &::after{
                           
                            }
                            &:hover{
                               
                            }
                        }
                    }
                }
              
            }
        }
        & .bottomHeader{
     
            & .navbar{
                & .logo{
             
                }
                & .navOffcanvas{
                    & .offcanvas-header{
    
                    }
                    & .offcanvas-body{
                        & .navbar-nav {
                            & .nav-item{
                       
                                & ul{
                               
                                    & li{
                                        & a{
                                            &::before{
                                                
                                            }
                                            &:hover{
                                           
                                            
                                                &::before{
                                                   
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    & ul{
                                   
                                    }
                                }
                                & .nav-link{
                                   
                                    &:hover{
                                    
                                        &::after{
                                           
                                        }
                                    }
                                    &::after{
                             
                                    }
                                }
                            }
                        }
                    }
                    & .icon{
                    
                    }
                }
            }
            & .search-form{
                right: 20px;
                width: 280px;
                height: 60px;
                padding: 10px;
                & input{
                 
                    &::placeholder{
                     
                      
                    }
                    & .icon{
                      height: 30px;
                      width: 30px;
                    }
                    
                }
                &.active{
                    
                }
    
            }
        }
    }
    
}